.form-label{
    text-align: center;
    align-items: center;
}
.submit{
    align-items: center;
    justify-content: center;
}
.footor{
    background-image: url('C:\Users\hp\Desktop\mare.port\image\photo-1589994965851-a8f479c573a9.avif');
}